/ ---Start of Schedule Tak
.row
  .col-md-8
    .panel.panel-default
      .panel-body.text-center
        %h1 You are Off today!
      .panel-footer
        Schedule Task 
  .col-md-4
    .panel.panel-default
      .panel-heading
        Trade Center Information
      .panel-body
        %p 
          Shift For Trade:
          %strong 30
        %p 
          Available Collegue For Today: 
          %strong 10
        %p 
          Pending Request:
          %strong 0
/ ---End 
.row
  .col-md-8
    .panel.panel-default
      .panel-heading.text-center
        Recent Posts
      .panel-body
        = render 'post_form'
      %ul.list-group.all_posts
  .col-md-4
    .panel.panel-default
      .panel-heading<>
        My Calendar
      .panel-body
        .user_calendar