.row
  .col-md-9
    .panel.panel-default
      .panel-body.text-center
        %h1 You are Off today!
      .panel-footer
        Schedule Task 

.row
  .col-xs-12.col-sm-5{:class => "[ ]"}
    .panel-group
      .panel.panel-default
        .panel.heading.no-bottom-line
          .panel-profile.inner-inline
            = image_tag "https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg", class: "inner-inline"
            .panel-name.inner-inline
              Robert McIntosh
              %p
                %span Shared publicly
                - 
                %span Jun 27, 2014
          %span.dropdown.pull-right
            %span.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span.glyphicon.glyphicon-chevron-down{:class => "[ ]"}
            %ul.dropdown-menu{:role => "menu"}
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
              %li.divider{:role => "presentation"}
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
          .clearfix
        .panel-body
          hello
     