.panel.panel-default
  .panel-heading
    Trade Center Information 
    %span.pull-right
      = link_to(trade_center_info_path, remote: true) do
        .glyphicon.glyphicon-refresh

  .panel-body
    %p 
      Shift For Trade:
      %strong #{@shift_for_trade}
    %p 
      Available Collegue For Today: 
      %strong #{@available_employees}
    %p 
      Pending Request:
      %strong 0